.mainScreen {
  display: grid;

  text-align: center;
}
.amount_container {
  display: flex;

  align-items: center;

  gap: 10px;
}
.infoProd {
  display: flex;

  flex-direction: column;

  justify-self: center;
}
.amount_container button {
  width: 70px;
  height: 70px;

  margin: auto;

  text-align: center;
}

@media (min-width: 320px) {
  .mainScreen {
    gap: 50px;

    justify-self: center;
  }
  .amount_container {
    flex-direction: row;
  }
}
